// Button Styles
.btn {
  padding: 1rem 2rem;
  color: $textLight;
  background: #ef9632;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  cursor: pointer;
  &:hover {
    background: #ef4534;
  }
}
.btn-primary {
  border: none;
  color: $textLight;
}

// Forms
.form-control {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #fff;
  color: $textLight;
  &::placeholder {
    color: $textLight;
    font-size: 0.9rem;
  }
}

// Padding
.padding {
  padding: 4rem 0;
}

// Hedings
.heading {
  font-size: 1.8rem;
  font-weight: 300;
}
.sub-heading {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.8rem;
  letter-spacing: 0.05rem;
}

// Text
.main-text {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}
.footer {
  background-color: #1e282f;
  color: $textLight;
}
.fa {
  font-size: 2rem;
  color: $textDark;
}
