// Abhinav
// prateek
// Shivam


// travel Agent
.agent-main{
    margin: 0 auto;
    margin-bottom: 10rem;
}
.agent-heading{
    padding: 2rem 0;
}
.img-agent{
    box-shadow: 0 0 30px 3px rgb(134, 134, 134);
}
.agent{
    color: orange;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding-top: 0.8rem;
}
.agent-name{
    font-size: 1.3rem;
}
.agent-text{
    padding: 0 2.2rem;
    font-weight: 300;
    color: rgb(156, 156, 156);
}
.agent-social{
    padding: 2rem 1rem;
    font-size: 0.8rem;
}
.agent-social-f{
    color: rgb(59, 89, 152);
}
.agent-social-t{
    color: rgb(29, 161, 242);
}
.agent-social-g{
    color: rgb(244, 67, 54);
}
.grid-col3{
    grid-gap: 0;
}

// Our Recent Tour

.recent-tour{
    margin: 0 auto;
    margin-bottom: 10rem;
}
.grid-col3{
    grid-gap: 2rem;
}
.tour-heading{
    padding: 3rem 0;
}
.tour-content{
    background: $tour-content-bg;
    padding: 2rem 1rem;
    text-align: left;
    color: $textLight;
    h3{
        font-size: 1.3rem;
        margin-left: 0.7rem;
    }
    i{
        color: $tour-content;
        padding: 0.5rem;
        font-weight: 300;
        cursor: pointer;
    }
}
.tour-content-head{
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
}
.night{
    margin-left: 5rem;
}
.calender{
    margin-left: 6rem;
}



// Abhinav
