// Abhinav
// prateek
// Shivam


// travel Agent
.agent-main{
    margin: 0 auto;
    margin-bottom: 10rem;
}
.agent-heading{
    padding: 2rem 0;
}
.img-agent{
    box-shadow: 0 0 30px 3px rgb(134, 134, 134);
}
.agent{
    color: orange;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding-top: 0.8rem;
}
.agent-name{
    font-size: 1.3rem;
}
.agent-text{
    padding: 0 2.2rem;
    font-weight: 300;
    color: rgb(156, 156, 156);
}
.agent-social{
    padding: 2rem 1rem;
    font-size: 0.8rem;
}
.agent-social-f{
    color: rgb(59, 89, 152);
}
.agent-social-t{
    color: rgb(29, 161, 242);
}
.agent-social-g{
    color: rgb(244, 67, 54);
}
.grid-col3{
    grid-gap: 0;
}

// Our Recent Tour






// Abhinav
