$textLight: #ffffff;
$textDark: #ef9632;
$font-family: "Poppins", sans-serif;
$textDark: #ef9632;
$footerDark: #6f7e8a;
$footerLight: #eeeeee;
$paraLight: #666;
$tour-content: rgb(206, 206, 206);
$tour-content-bg: #0f3285;
