/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center-child {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img-responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 728px) {
  html {
    font-size: 14px;
  }
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #38a1f3;
}

.fa-google-plus {
  color: #cc3333;
  vertical-align: top;
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
    line-height: 1.5;
  }
}

.wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.grid-col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-col3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-col4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media all and (max-width: 768px) {
  .grid-col2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-col3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.btn {
  padding: 1rem 2rem;
  color: #ffffff;
  background: #ef9632;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  cursor: pointer;
}

.btn:hover {
  background: #ef4534;
}

.btn-primary {
  border: none;
  color: #ffffff;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #fff;
  color: #ffffff;
}

.form-control::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 0.9rem;
}

.form-control:-ms-input-placeholder {
  color: #ffffff;
  font-size: 0.9rem;
}

.form-control::-ms-input-placeholder {
  color: #ffffff;
  font-size: 0.9rem;
}

.form-control::placeholder {
  color: #ffffff;
  font-size: 0.9rem;
}

.padding {
  padding: 4rem 0;
}

.heading {
  font-size: 1.8rem;
  font-weight: 300;
}

.sub-heading {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.8rem;
  letter-spacing: 0.05rem;
}

.main-text {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}

.footer {
  background-color: #1e282f;
  color: #ffffff;
}

.fa {
  font-size: 2rem;
  color: #ef9632;
}

.header {
  padding: 1.5rem 0;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem;
  z-index: 1;
}

.dropdown-content:hover {
  color: #ef9632;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #ef9632;
}

.menu-item {
  margin-left: 1.5rem;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.menu-link:hover {
  color: #ef9632;
}

.colordark {
  color: #ef9632;
}

.colour {
  color: #333232;
}

.hero {
  background: url("../media/banner.jpg") no-repeat;
  padding: 12rem 0;
  background-size: cover;
  color: #fff;
  background-position: center;
}

.hero-text {
  margin-top: 2rem;
  color: #ef9632;
  font-weight: 300;
  font-size: 0.9rem;
}

.hero-heading {
  line-height: 1.2;
  font-size: 2.8rem;
}

.hero-text2 {
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
}

.explore-wrapper {
  text-align: center;
  margin: 2.8rem 0 10rem 0;
}

.explore-wrapper h2 {
  margin: 5rem 0;
}

@media screen and (max-width: 728px) {
  .explore-wrapper .explore-cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.explore-wrapper .exp-card {
  line-height: 3;
}

.explore-wrapper .exp-card p {
  line-height: 1.5;
  color: #666;
}

.explore-imgcard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  line-height: 4;
  grid-column-gap: 8rem;
}

.explore-imgcard p {
  line-height: 1.5;
  color: #666;
}

.explore-imgcard .fa {
  margin: 1rem 0;
}

@media screen and (max-width: 728px) {
  .explore-imgcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.blue-data {
  background-color: #103385;
  margin-top: 3rem;
}

.blue-data .blue-card-sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 728px) {
  .blue-data .blue-card-sec {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.blue-data .blue-card-sec .blue-card {
  padding: 6rem 0 6rem 0;
  text-align: center;
  color: #ffffff;
}

.blue-data .blue-card-sec .blue-card .fa {
  font-size: 2.3rem;
}

@media screen and (max-width: 728px) {
  .blue-data .blue-card-sec .blue-card {
    padding: 4rem 0 3rem 0;
  }
}

.tavel-agent {
  margin: 4rem 0;
}

.tavel-agent .wrapper {
  padding: 0 0;
}

.tavel-agent h1 {
  text-align: center;
  margin: 2rem 0;
}

.tavel-agent .agent-post {
  font-size: 0.67em;
  color: #ef9632;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.tavel-agent .agent-sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.tavel-agent .agent-sec .agent-post {
  color: #ef9632;
}

@media screen and (max-width: 728px) {
  .tavel-agent .agent-sec {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .tavel-agent .agent-sec .agent {
    margin-bottom: 3rem;
  }
}

.tavel-agent .agent-sec ul li {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0.8rem;
}

.tavel-agent .agent-sec p {
  color: #666;
}

.footer-content {
  color: #6f7e8a;
}

.foot-nav a,
li {
  text-decoration: none;
  color: #6f7e8a;
  margin-bottom: 0.45rem;
}

.foot-nav a:hover,
li:hover {
  color: #eeeeee;
}

.footer-item {
  margin: 4rem 1rem;
}

.footer-item h4 {
  margin-bottom: 1.3rem;
  font-weight: 500;
  font-size: 1.7rem;
}

.footer-item p {
  margin-bottom: 0.7rem;
}

.ls-footer {
  background-color: #242c33;
  padding: 2rem 0.5rem;
}

.footer-text {
  color: #6f7e8a;
}

.footer-text a {
  text-decoration: none;
  color: #6f7e8a;
}

.footer-text a:hover {
  color: #eeeeee;
}

.footer-icons a {
  padding: 0 0.7rem;
}

.mailbox1 {
  background-color: #1e282f;
  padding: 1rem 1.5rem;
  border: 1px solid #72818d;
  border-radius: 4px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mailbox2 {
  background-color: #1e282f;
  padding: 0.9rem 2rem 1.02rem 2rem;
  border: 0.7px solid #72818d;
  border-radius: 4px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.i0 {
  color: #6f7e8a;
  font-size: 1rem;
}

.i4 {
  color: magenta;
}

.toggle {
  display: none;
}

#drop {
  display: none;
}

.gallery img {
  width: 100%;
}

.gallery img:hover {
  -webkit-box-shadow: 0.3rem 0.3rem 3rem 0.3rem #1e282f;
          box-shadow: 0.3rem 0.3rem 3rem 0.3rem #1e282f;
}

.gallery h2 {
  text-align: center;
}

.pad3 {
  margin: 2rem 0;
}

.pad4 {
  margin: 2rem 0;
}

.hero2 {
  background: url("../media/banner.jpg") no-repeat;
  height: 16rem;
  background-size: cover;
  color: #fff;
}

@media all and (max-width: 768px) {
  .hero {
    background: url("../media/banner.jpg") no-repeat;
    padding: 8rem 0;
    background-size: cover;
    color: #fff;
    background-position: center;
  }
  .footer-item {
    margin: 1rem 1rem 1rem 1rem;
  }
  .footer-text {
    text-align: center;
  }
  .mailbox1 {
    background-color: #1e282f;
    padding: 1rem 1rem;
    border: 1px solid #72818d;
    border-radius: 4px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .mailbox2 {
    background-color: #1e282f;
    padding: 1.02rem 1rem 1.02rem 2rem;
    border: 0.7px solid #72818d;
    border-radius: 4px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none;
    position: absolute;
    width: 80%;
    background: #212529;
    top: 5rem;
    left: 2.5rem;
    height: 25vh;
  }
  .pad {
    margin-bottom: 2rem;
  }
  .pad2 {
    margin-top: 2rem;
  }
  .menu .menu-link {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #ffffff;
  }
  .toggle {
    display: block;
    padding: 7px 20px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    float: right;
    background-color: #212529;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 0.7em;
  }
  #drop:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i1,
  .i2,
  .i3,
  .i4 {
    text-align: center;
  }
  .footer-icons {
    text-align: center;
    font-size: 1rem;
  }
  .footer-icons a {
    padding: 0 0.7rem;
  }
}

.recent-tour {
  margin: 0 auto;
  margin-bottom: 10rem;
}

.grid-col3 {
  grid-gap: 2rem;
}

.tour-heading {
  padding: 3rem 0;
}

.tour-content {
  background: #0f3285;
  padding: 2rem 1rem;
  text-align: left;
  color: #ffffff;
}

.tour-content h3 {
  font-size: 1.3rem;
  margin-left: 0.7rem;
}

.tour-content i {
  color: #cecece;
  padding: 0.5rem;
  font-weight: 300;
  cursor: pointer;
}

.tour-content-head {
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1rem;
}

.night {
  margin-left: 5rem;
}

.calender {
  margin-left: 6rem;
}

.plan {
  padding: 5rem;
  background: #212529;
}

.plan-1 h2 {
  font-size: 3.3rem;
  color: #ffffff;
}

.plan-text {
  color: #84a4ac;
  margin: 3rem 0;
}

.client-main {
  margin-bottom: 2rem;
}

.client-main h2 {
  padding: 5rem 0;
}

.client-main i {
  margin-left: 18rem;
  margin-right: 18rem;
  color: #ff9100;
  font-size: 3rem;
}

.client-text {
  color: #212529;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 4rem;
  line-height: 1rem;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 3rem;
  width: 50rem;
}

.profile-pic img {
  border-radius: 50%;
}

.profile-text {
  padding-left: 2rem;
}

.profile-text h4 {
  font-size: 1rem;
  margin-left: 2rem;
  color: rgba(255, 0, 0, 0.753);
}

.profile-text blockquote {
  color: #212529;
  font-size: 0.8rem;
}

@media all and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .grid-col3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .grid-col2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .profile {
    margin: 1rem auto;
    width: 100%;
  }
  .client-main {
    width: 100%;
    margin: 0 auto;
  }
  .client-main i {
    width: 100%;
    margin: 0;
  }
  .plan {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .plan-1 {
    width: 100%;
    margin: 0 auto;
  }
  .plan-1 h2 {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */
